<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
      <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <main>
      <article>

        {% assign day_number = 0 %}
        {% for post in site.posts reversed %}
          {% assign day_number = day_number | plus: 1 %}
          {% if post.url == page.url %}
            <a href="{{ site.baseurl }}/" class="back-link">Mindful Month</a>
            <span class="day-number"> – Day {{ day_number }}</span>
            {% break %}
          {% endif %}
        {% endfor %}

        {{ content }}

         <nav class="post-navigation">
          <div class="prev-link-container">
            {% if page.previous %}
              {% assign prev_day_number = day_number | minus: 1 %}
              <a href="{{ page.previous.url | relative_url }}" class="prev-link">← Day {{ prev_day_number }}</a>
            {% endif %}
          </div>

          <div class="next-link-container">
            {% if page.next %}
              {% assign next_day_number = day_number | plus: 1 %}
              <a href="{{ page.next.url | relative_url }}" class="next-link">Day {{ next_day_number }} →</a>
            {% endif %}
          </div>
        </nav>

     </article>
    </main>
  </body>
</html>
